<div class="jkx-page">
  <div class="jkx-toolbar f-d-row a-d1-space-between a-d2-center">
    <div id="date-time"></div><div class="battery"></div>
  </div>
   <app-rbt-home></app-rbt-home>
  <!-- <app-rbt-delivery-info></app-rbt-delivery-info>
    <app-rbt-recip-name></app-rbt-recip-name> 
   <app-rbt-contn-no></app-rbt-contn-no> 

   <app-rbt-load-delivery></app-rbt-load-delivery>
   <app-rbt-run-delivery></app-rbt-run-delivery> 
   <app-rbt-pass-code></app-rbt-pass-code> 
   <app-rbt-clarify-delivery></app-rbt-clarify-delivery> 
   <app-rbt-rating></app-rbt-rating> 

   <app-rbt-thankyou></app-rbt-thankyou> -->
</div>  
<router-outlet></router-outlet>
