<div *ngIf="showRunDelvryCompo">


    <div class="jkx-page-content f-d-row f-wrap" *ngIf="deliveryCompoOne">
        <div class="jkx-content-top f-d-column a-d1-center a-d2-center f-100">
            <div class="jkx-title1 f-w-300">I'm running a delivery</div>
        </div>
        <div class="jkx-content-bottom f-d-row f-100 a-d1-center a-d2-start">            
            <div class="jkx-robot-eye">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <circle class="circle1" style="fill:#D5E2E8;" cx="256" cy="256" r="250"/>
                <circle class="circle2" style="fill:#1367a2;" cx="256" cy="256" r="150"/>
                <circle class="circle3" style="fill:#073962;" cx="256" cy="256" r="50"/>
                <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                </svg>             
            </div>
            <div class="jkx-robot-eye">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <circle class="circle1" style="fill:#D5E2E8;" cx="256" cy="256" r="250"/>
                <circle class="circle2" style="fill:#1367a2;" cx="256" cy="256" r="150"/>
                <circle class="circle3" style="fill:#073962;" cx="256" cy="256" r="50"/>
                <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                </svg>       
            </div>
        </div>       
      </div>
    
     <!--  <iframe src="audio/silence.mp3" allow="autoplay" id="audio" style="display:none"></iframe>
      <audio id="running-delivery" autoplay loop>
        <source src="audio/sewing-machine.mp3" type="audio/mp3">
      </audio> -->
      
     
    <!--   <script>setTimeout( function() {window.location.href = 'page7.html'}, 5000);</script> -->
    
    
    <div class="jkx-page-content f-d-row f-wrap" *ngIf="deliveryCompoTwo">
        <div class="jkx-content-top p-30 f-d-row a-d1-center a-d2-start f-100">
          <div class="jkx-robot-msg">
            <div class="jkx-title1">Pardon Me</div>
            <div class="jkx-title1 f-w-300">I'm running a delivery</div>
          </div>
        </div>
        <div class="jkx-content-bottom f-d-row f-100 a-d1-center a-d2-start">            
            <div class="jkx-robot-eye">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <circle class="circle1" style="fill:#D5E2E8;" cx="256" cy="256" r="250"/>
                <circle class="circle2" style="fill:#1367a2;" cx="256" cy="256" r="150"/>
                <circle class="circle3" style="fill:#073962;" cx="256" cy="256" r="50"/>
                <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                </svg>             
            </div>
            <div class="jkx-robot-eye">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <circle class="circle1" style="fill:#D5E2E8;" cx="256" cy="256" r="250"/>
                <circle class="circle2" style="fill:#1367a2;" cx="256" cy="256" r="150"/>
                <circle class="circle3" style="fill:#073962;" cx="256" cy="256" r="50"/>
                <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                </svg>       
            </div>
        </div>       
      </div>
    
    <!--   <iframe src="audio/silence.mp3" allow="autoplay" id="audio" style="display:none"></iframe>
      <audio id="obstruction" autoplay loop>
        <source src="audio/store-door-chime-low-vol.mp3" type="audio/mp3">
      </audio>
      <script>setTimeout( function() {window.location.href = 'page8.html'}, 5000);</script> -->
    
    
      <div class="jkx-page-content f-d-row f-wrap" *ngIf="deliveryCompoThree">
        <div class="jkx-content-top f-d-column a-d1-center a-d2-center f-100">
            <div class="jkx-title1 f-w-300">Waiting for Room <span id="jkx-room-no"></span> to open the door</div>
        </div> 
        <div class="jkx-content-bottom f-d-row f-100 a-d1-center a-d2-start">            
            <div class="jkx-robot-eye">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <circle class="circle1" style="fill:#D5E2E8;" cx="256" cy="256" r="250"/>
                <circle class="circle2" style="fill:#1367a2;" cx="256" cy="256" r="150"/>
                <circle class="circle3" style="fill:#073962;" cx="256" cy="256" r="50"/>
                <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                </svg>             
            </div>
            <div class="jkx-robot-eye">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <circle class="circle1" style="fill:#D5E2E8;" cx="256" cy="256" r="250"/>
                <circle class="circle2" style="fill:#1367a2;" cx="256" cy="256" r="150"/>
                <circle class="circle3" style="fill:#073962;" cx="256" cy="256" r="50"/>
                <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                </svg>       
            </div>
        </div>                    
      </div>
    
      <!-- <iframe src="audio/silence.mp3" allow="autoplay" id="audio" style="display:none"></iframe>
      <audio id="doorbell" autoplay loop>
        <source src="audio/doorbell.mp3" type="audio/mp3">
      </audio>
     
      <script>
        document.getElementById('jkx-room-no').innerText = localStorage.getItem('roomNo');
        setTimeout( function() {window.location.href = 'page9.html'}, 5000);
      </script>  --> 
    
      <div class="jkx-page-content f-d-row f-wrap" *ngIf="deliveryCompoFour">
        <div class="jkx-content-top f-d-column a-d1-center a-d2-center f-100">
            <div class="jkx-title1 f-w-300">Here is your delivery !</div>
        </div>
        <div class="jkx-content-bottom f-d-row f-100 a-d1-end a-d2-center">            
            <button class="jkx-btn-go" (click)="goToNextPage()"><a class="f-d-column a-d1-center" href="#"><span>GET</span></a></button>
        </div>       
      </div>
    

</div>


  <app-rbt-pass-code *ngIf="showPassCodeCompo" [orderDetails]="_orderDetails"></app-rbt-pass-code>