<div class="jkx-page-content f-d-row f-wrap" *ngIf="showClarifyDeliveryCompo">
    <div class="jkx-content-top p-30 f-d-row a-d1-center a-d2-start f-100">
      <div class="jkx-robot-msg f-100">
        <div class="jkx-title1 m-b-15">Did you get everything you requested ?</div>
        <div class="f-d-row a-d1-space-around a-d2-center f-100">
            <button class="jkx-btn f-d-row a-d1-center"><a href="#">Front Desk</a></button><button class="jkx-btn jkx-btn-green f-d-row a-d1-center" (click)="goToNextPage()"><a href="#">Yes</a></button>
        </div> 
      </div>                  
    </div>
    <div class="jkx-content-bottom f-d-row f-100 a-d1-center a-d2-start">            
        <div class="jkx-robot-eye">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <circle class="circle1" style="fill:#D5E2E8;" cx="256" cy="256" r="250"/>
            <circle class="circle2" style="fill:#1367a2;" cx="256" cy="256" r="150"/>
            <circle class="circle3" style="fill:#073962;" cx="256" cy="256" r="50"/>
            <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
            </svg>             
        </div>
        <div class="jkx-robot-eye">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <circle class="circle1" style="fill:#D5E2E8;" cx="256" cy="256" r="250"/>
            <circle class="circle2" style="fill:#1367a2;" cx="256" cy="256" r="150"/>
            <circle class="circle3" style="fill:#073962;" cx="256" cy="256" r="50"/>
            <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
            </svg>       
        </div>
    </div>       
  </div>

  <app-rbt-rating *ngIf="showRatingCompo" [orderDetails]="_orderDetails"></app-rbt-rating>
